/* You can add global styles to this file, and also import other style files */
body{
    padding: 30px;
    background-color: #2A2A2A;
}

.border{
  border: 1px solid red;   
}
.br-6{
    border-radius: 6px;
}
.br-w{
    border:1px solid white;
}
.all-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    color: white;
    font-family: 'Inter';
}