<h1>Currency Exchanger</h1>

<div class="sticky-pannel br-w br-6">
    <div class="amount-section">
        <div class="amount">
            <label>Amount</label>  
            <input type="number" class="br-w br-6" [(ngModel)]="amount" (keyup)="onAmountChange()"/>
        </div>
        <div class="exchange-rate br-w br-6 all-centered">
            <span *ngIf="fromRates.length>0"> 1 {{from}}={{toAmount}} {{to}}</span>
        </div>
    </div>
    <div class="currency-section">
        <div class="to-from ">
            <!-- From Options -->
            <div class="from ">
                <label>From</label>
                <select class="br-6" [(ngModel)]="from"[disabled]="!amount" (change)="convert()">
                    <option *ngFor="let currency of supportedCurrencies;" [value]="currency.currency">{{currency.currency}}</option>
                </select>
            </div>
            <!-- swap  -->
            <button class="swap" (click)="swap()" [disabled]="!amount">
                <img src="assets/swap.svg"/>
            </button>
            <!-- to options -->
            <div class="to ">
                <label>To</label>
                <select class="br-6" [(ngModel)]="to"[disabled]="!amount" (change)="convert()">
                    <option *ngFor="let currency of supportedCurrencies;" [value]="currency.currency">{{currency.currency}}</option>
                </select>
            </div>
            
        </div>
        <div class="exchange-rates all-centered">
           <span *ngIf="toAmount"> 1 {{from}}={{toAmount}} {{to}}</span>
        </div>
        <div class="button-sec">
            <button class="convert-btn br-6" (click)="convert()"[disabled]="!amount">Convert</button>
        </div>
        <div class="details-sec">
            <div class="result br-w br-6 all-centered"> 
                <span *ngIf="conversion">{{conversion}} {{to}}</span>
            </div>
            <button class="details-btn br-6" [routerLink]="['/details',(from+'-'+to)]"[disabled]="!amount">More Details</button>
        </div>

    </div>
</div>

<div class="card-grids" *ngIf="amount">
 <div *ngFor="let rate of toCurrenciesRates" class="grid-item br-w br-6 all-centered">
    {{amount}} {{from}} = {{amount!*(rate.amount)}} {{rate?.currency}}
 </div>
</div>