<div class="head-sec">
    <h1> EUR- European Union Euro</h1>
    <button (click)="back()" class="back-btn br-6">Back To Home</button>
</div>

<div class="sticky-pannel br-w br-6">
    <div class="amount-section">
        <div class="amount">
            <label>Amount</label>  
            <input type="number" class="br-w br-6" [(ngModel)]="amount"/>
        </div>
        <div class="exchange-rate br-w br-6 all-centered">
            1.00 EUR=xx.xx USD
        </div>
    </div>
    <div class="currency-section">
        <div class="to-from ">
            <!-- From Options -->
            <div class="from ">
                <label>From</label>
                <select class="br-6" [(ngModel)]="from">
                    <option [value]="'USD'">USD</option>
                    <option [value]="'EUR'">EUR</option>
                </select>
            </div>
            <!-- swap  -->
            <div class="swap" (click)="swap()" >
                <img src="assets/swap.svg"/>
            </div>
            <!-- to options -->
            <div class="to ">
                <label>To</label>
                <select class="br-6" [(ngModel)]="to">
                    <option [value]="'USD'">USD</option>
                    <option [value]="'EUR'">EUR</option>
                </select>
            </div>
            
        </div>
        <div class="exchange-rates all-centered">
            1.00 EUR=xx.xx USD
        </div>
        <div class="button-sec">
            <button class="convert-btn br-6" (click)="convert()">Convert</button>
        </div>
        <div class="details-sec">
            <div class="result br-w br-6 all-centered"> 
                XX.XX {{to}}
            </div>
        </div>

    </div>
</div>

<div class="card-grids">
 <div  class="grid-item br-w br-6 all-centered">
    <!-- {{countries[0].area}} -->
    <canvas baseChart class="chart"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"></canvas>
 </div>
</div>
